{% extends "layout.html" %}

{% block content %}

<h2>Services</h2>

<div class="row">

  <div class="col-md-3">
    <a href="/auditoriums" class="btn btn-primary w-100">
      Auditoriums
    </a>
  </div>

  <div class="col-md-3">
    <a href="/catering" class="btn btn-primary w-100">
      Catering
    </a>
  </div>

  <div class="col-md-3">
    <a href="/decoration" class="btn btn-primary w-100">
      Decoration
    </a>
  </div>

  <div class="col-md-3">
    <a href="/makeup" class="btn btn-primary w-100">
      Makeup
    </a>
  </div>

</div>

{% endblock %}